<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Password Length</label>
        <input class="input" (input)="getChangeLength($event.target.value)" />
      </div>

      <div class="field">
        <div class="control">
          <input (change)="onChangeUseLetter()" type="checkbox" />
          <label class="checkbox">Use Letters</label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input (change)="onChangeUseNumber()" type="checkbox" />
          <label class="checkbox">Use Numbers</label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input (change)="onChangeUseSymbol()" type="checkbox" />
          <label class="checkbox">Use Symbols</label>
        </div>
      </div>

      <div>
        <button [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols ))"
          class="button is-link is-fullwidth" (click)="onButtonClick()">Generate!</button>
      </div>

      <div class="box" *ngIf="password">
        <label>Your Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>